.aider*
wrapper/node_modules/
wrapper/data/

---

engine/.DS_Store
engine/.vscode/
engine/aider.code-workspace
engine/*.pyc
engine/.aider*
engine/aider_chat.egg-info/
engine/build
engine/dist/
engine/Gemfile.lock
engine/_site
engine/.jekyll-cache/
engine/.jekyll-metadata
engine/aider/__version__.py
engine/aider/_version.py
engine/.venv/
engine/.#*
engine/.gitattributes
engine/tmp.benchmarks/
engine/.docker_bash_history

---

engine/venv/
engine.bat